
<section id='footersection'>
 
 
 
  <div class="container" id='footer'>
  
    <div class="row">
      <div class="col-sm-6" style='valign:top;font-size: 0.8em;'>
        &copy; 2024 Trustees of <a href="https://www.princeton.edu">Princeton University</a>

      <div class="col-sm-6" style="text-align:right;valign:top;">
	<a href="https://www.princeton.edu" aria-label="link to the Princeton University home page"><img title="Princeton University logo" src="{{ site.baseurl }}/assets/images/Princeton-logo-transparent.png" height="60"/></a><br />
      </div>
    </div>
    


</section>
